@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500&display=swap');
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #1940B0;
  --bs-secondary: #23C99D;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 25,64,176;
  --bs-secondary-rgb: 35,201,157;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: 'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  
  /* HEADERS */
  --heading-font-family: 'Rubik', sans-serif;
  --heading-font-color: var(--bs-primary);
  --heading-font-weight: 500;
  /* HEADERS */
  
  /* GENERALS */
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 300;
  --bs-body-line-height: 30px; /*default 1.5*/
  
  --bs-body-color: #415076;
  --bs-body-bg: white;
  --bs-border-radius: 2px;
  --bs-border-radius-2: 2px; /* FOR SMALL ELEMENTS */
  
  --bs-border-width: 2px;
  
  --bs-primary-2-rgba: 0, 55, 211, 1;
  --bs-secondary-2-rgba: 0, 226, 166, 1;
  /* GENERALS */
  
  /* FOR BUTTONS */
  --bs-border-radius-buttons: 25px;
  --bs-border-width-buttons: 0;
  --bs-border-width-buttons-outline: 2px;
  --bs-box-shadow-buttons: 0px 20px 40px rgba(35, 201, 157, .2);
  --bs-text-shadow-buttons: 1px 1px 0px rgba(0, 0, 0, 0.5);
  --bs-line-height-buttons: 20px;
  --bs-padding-buttons: 15px 30px 15px 30px;
  /* FOR BUTTONS */
  
  /* FOR PRIMARY GRADIENTS */
  --bs-linear-gradient-primary: 45deg, rgb(25, 64, 176) 0%, rgb(35, 201, 157) 100%;
  --bs-linear-gradient-primary-2: 45deg, rgb(0, 55, 211) 0%, rgb(0, 226, 166) 100%;
  /* FOR PRIMARY GRADIENTS */
  
  /* FOR SECONDARY GRADIENTS */
  --bs-linear-gradient-secondary: 45deg, rgb(35, 201, 157) 0%, rgb(18, 201, 152) 100%;
  --bs-linear-gradient-secondary-2: 45deg, rgb(35, 201, 157) 0%, rgb(66, 204, 168) 100%;
  /* FOR SECONDARY GRADIENTS */
  
  
  /* FOR INPUTS */ 
  --bs-padding-inputs: 15px 10px 15px 10px;
  --bs-border-radius-inputs: 0;
  --bs-box-shadow-inputs: inset 2px 2px 8px rgba(0,0,255,.05);
  --bs-border-width-inputs: 1px;
  --bs-border-color-inputs-rgb: 200,200,200,1;
  /* FOR INPUTS */
 
  /* FOR GROUPS */
  
  /* FOR GROUPS */
  
  /* FOR CARDS */
  --bs-body-bg-color-cards-rgba: 255,255,255,1;
  --bs-border-width-cards: 1px;
  --bs-border-radius-cards: 5px;
  --bs-border-color-cards-rgba: 158, 176, 223, 1;
  --bs-header-bg-color-cards-rgba: 247,250,255,1;
  --bs-header-color-cards: 65, 80, 118, 1;  
  --bs-shadow-cards-rgba: 0px 0px 50px rgba(0,0,255,.09);
  /* FOR CARDS */
  
  /* ACCORDIONS */
  --bs-border-color-accordions-rgba: 0,0,25,.05;
  --bs-border-width-accordions: 1px;
  --bs-border-radius-accordions: 5px;
  --bs-bg-accordions-rgba: 0,0,255,.01;
  --bs-button-bg-accodions-rgba: 0,0,255,.01;  
  /* ACCORDIONS */
  
  
  /* FOR MODALS*/
  --bs-modal-border-width:1px;
  --bs-modal-border-color-rgba:0,0,255,.2;
  --bs-modal-border-radius: 0;
  --bs-modal-bg-rgba: 255,255,255,1;
  --bs-modal-header-bg-rgba: 0,0,255,.05;
  /* FOR MODALS*/
  
  /* FOR TOASTS*/
  --bs-toasts-border-width:1px;
  --bs-toasts-border-color-rgba:0,0,0,.15;
  --bs-toasts-border-radius: 3px;
  --bs-toasts-bg-rgba: 255,255,255,1;
  --bs-toasts-header-bg-rgba: 0,0,255,0.05;
  --bs-toasts-shadow-rgba: 0px 0px 50px rgba(0,0,255,.09);
  /* FOR TOASTS*/
  
  /* SHADOWS COLORS */
  --bs-shadow: 0 0.5rem 1rem rgba(0,0,255,0.15);
  --bs-shadow-sm: 0 0.125rem .25rem rgba(0,0,255,0.08);
  --bs-shadow-lg: 0 1rem 3rem rgba(0,0,255,0.18);
  /* SHADOWS COLORS */
  
}
body{
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
}
a{
    color: rgb(var(--bs-primary-rgb));
    text-decoration: underline;
}
a:hover {
    color: rgba(var(--bs-primary-2-rgba));
}
.nav-active
{
    background-color: rgb(var(--bs-primary-rgb));
    color: var(--bs-white) !important;
}
.nav-active:active,.nav-active:hover
{
    background-color: rgba(var(--bs-primary-2-rgba));
}
.nav-link:hover, .nav-link:focus {
    color: rgba(var(--bs-primary-2-rgba));
}
h1,h2,h3,h4,h5,h6 {  
  font-family: var(--heading-font-family);
  color:var(--heading-font-color); 
  font-weight:var(--heading-font-weight);
}
.bg-gradient-primary, .bg-primary.bg-gradient
{
    background: rgb(var(--bs-primary-rgb)) !important;
    background: -moz-linear-gradient(var(--bs-linear-gradient-primary)) !important;
    background: -webkit-linear-gradient(var(--bs-linear-gradient-primary)) !important;
    background: linear-gradient(var(--bs-linear-gradient-primary)) !important;
    background-image: linear-gradient(var(--bs-linear-gradient-primary)) !important;
    background-color: linear-gradient(var(--bs-linear-gradient-primary)) !important;
}
.bg-gradient-secondary, .bg-secondary.bg-gradient
{
    background: rgb(var(--bs-secondary-rgb)) !important;
    background: -moz-linear-gradient(var(--bs-linear-gradient-secondary)) !important;
    background: -webkit-linear-gradient(var(--bs-linear-gradient-secondary)) !important;
    background: linear-gradient(var(--bs-linear-gradient-secondary)) !important;
    background-image: linear-gradient(var(--bs-linear-gradient-secondary)) !important;
    background-color: linear-gradient(var(--bs-linear-gradient-secondary)) !important;
}
.text-primary
{
    color: var(--bs-primary) !important;
}
.text-secondary
{
    color: var(--bs-secondary) !important;
}
.text-lightBlue
{
    color: #16A3FE !important;
}
.text-darkBlue
{
    color: #122272 !important;
}
.bg-primary
{
    background-color: var(--bs-primary) !important;
}
.bg-secondary
{
    background-color: var(--bs-secondary) !important;
}
.bg-lightBlue
{
    background-color: #16A3FE !important;
}
.bg-darkBlue
{
    background-color: #122272 !important;
}
/********************************************/
/**************** shadows ****************/
/********************************************/
.shadow {
    box-shadow: var(--bs-shadow) !important;
}
.shadow-sm {
    box-shadow: var(--bs-shadow-sm) !important;
}
.shadow-lg {
    box-shadow: var(--bs-shadow-lg) !important;
}
/********************************************/
/**************** shadows ****************/
/********************************************/

/********************************************/
/**************** Buttons ****************/
/********************************************/
.btn
{
  border-radius:var(--bs-border-radius-buttons);
  border-width: var(--bs-border-width-buttons);
  line-height: var(--bs-line-height-buttons);
  padding: var(--bs-padding-buttons);
  
  -webkit-box-shadow: var(--bs-box-shadow-buttons);
  -moz-box-shadow: var(--bs-box-shadow-buttons);
  box-shadow: var(--bs-box-shadow-buttons);
  text-shadow: var(--bs-text-shadow-buttons);
  
}
.btn-primary {
    background-color: rgb(var(--bs-primary-rgb));
    border-color: rgba(var(--bs-primary-2-rgba));
    background: rgb(var(--bs-primary-rgb));
    background: -moz-linear-gradient(var(--bs-linear-gradient-primary));
    background: -webkit-linear-gradient(var(--bs-linear-gradient-primary));
    background-size: 100%;
    background: linear-gradient(313.23deg, #23C99D 2.91%, #16A3FE 100%);
    border-radius: 50px;
}

.btn-outline-primary {
    color: rgb(var(--bs-primary-rgb));
    border-color: rgb(var(--bs-primary-rgb));
    outline: 2px solid rgb(var(--bs-primary-rgb));
    outline-offset: -2px !important;
    border: none !important;
}
.btn-primary:disabled, .btn-primary.disabled {
    background-color: rgb(var(--bs-primary-rgb));
    border-color: rgba(var(--bs-primary-2-rgba));
}
.btn-primary:hover,.btn-outline-primary:hover {
    background-color: rgba(var(--bs-primary-2-rgba));
    border-color: rgba(var(--bs-primary-rgb));
    background: rgba(var(--bs-primary-2-rgba));
   background: -moz-linear-gradient(var(--bs-linear-gradient-primary-2));
    background: -webkit-linear-gradient(var(--bs-linear-gradient-primary-2));
    background: linear-gradient(var(--bs-linear-gradient-primary-2));
}
.btn-check:focus + .btn-primary, .btn-primary:focus
{
  background-color: rgba(var(--bs-primary-2-rgba));
  border-color: rgba(var(--bs-primary-rgb)); 
}
.btn-secondary {
    background-color: rgb(var(--bs-secondary-rgb));
    border-color: rgba(var(--bs-secondary-2-rgba));
  
    background: rgb(var(--bs-secondary-rgb));
    background: -moz-linear-gradient(var(--bs-linear-gradient-secondary));
    background: -webkit-linear-gradient(var(--bs-linear-gradient-secondary));
    background: linear-gradient(var(--bs-linear-gradient-secondary));
    background-size: 200%;
    box-shadow: 0px 10px 50px 0px rgba(0, 12, 255, 0.25);
}
.btn-secondary:hover,.btn-outline-secondary:hover {
    background-color: rgb(var(--bs-secondary-2-rgba));
    border-color: rgb(var(--bs-secondary-rgb));
    background: rgba(var(--bs-secondary-2-rgba));
    background: -moz-linear-gradient(var(--bs-linear-gradient-secondary-2));
    background: -webkit-linear-gradient(var(--bs-linear-gradient-secondary-2));
    background: linear-gradient(var(--bs-linear-gradient-secondary-2));
    color: white !important;
}
.btn-outline-secondary {
    color: rgb(var(--bs-secondary-rgb)) !important;
    outline: 2px solid rgb(var(--bs-secondary-rgb));
    outline-offset: -2px !important;
    border: none !important;
    text-shadow: none !important;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    background-color: rgba(var(--bs-primary-2-rgba));
    border-color: rgba(var(--bs-primary-rgb)); 
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    background-color: rgba(var(--bs-primary-2-rgba));
    border-color: rgba(var(--bs-primary-rgb)); 
}
.btn.btn-outline-primary,.btn.btn-outline-secondary,.btn.btn-outline-success,.btn.btn-outline-info,.btn.btn-outline-warning,.btn.btn-outline-danger,.btn-outline-light{
  border-width: var(--bs-border-width-buttons-outline);  
}
.btn-check:active+.btn-outline-secondary, .btn-check:checked+.btn-outline-secondary, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show, .btn-outline-secondary:active {
    color: white !important;
    background-color: rgb(var(--bs-secondary-rgb));
    background: linear-gradient(313.23deg, #23C99D 2.91%, #16A3FE 100%);
    border-color: rgb(var(--bs-secondary-rgb));
}
/********************************************/
/**************** Buttons ****************/
/********************************************/

/********************************************/
/**************** dropdown ****************/
/********************************************/
.dropdown-menu
{
  border-radius:var(--bs-border-radius-2);
  background-color:rgb(var(--bs-white-rgb));
}
.dropdown-item.active, .dropdown-item:active
{
  background-color: rgb(var(--bs-primary-2-rgba));
  color:rgb(var(--bs-white-rgb));
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgb(var(--bs-primary-rgb));
    border-color: rgb(var(--bs-primary-rgb));
    color:rgb(var(--bs-white-rgb));
}
/********************************************/
/**************** dropdown ****************/
/********************************************/

/********************************************/
/**************** Forms ****************/
/********************************************/
.form-control,.form-select, .progress
{
  border: var(--bs-border-width-inputs) solid rgba(var(--bs-border-color-inputs-rgb));
  border-radius:var(--bs-border-radius-inputs);
  -webkit-box-shadow: var(--bs-box-shadow-inputs);
  -moz-box-shadow: var(--bs-box-shadow-inputs);
  box-shadow: var(--bs-box-shadow-inputs);
}
.form-control
{
  padding: var(--bs-padding-inputs);
}
.form-check-input:checked {
    background-color: rgb(var(--bs-primary-rgb));
    border-color: rgb(var(--bs-white-rgb));
    border-width: var(--bs-border-width);
}
/********************************************/
/**************** Forms ****************/
/********************************************/

/********************************************/
/**************** Navs Tabs ****************/
/********************************************/
.nav-tabs .dropdown-menu {    
    border-top-left-radius: var(--bs-border-radius-2);
    border-top-right-radius: var(--bs-border-radius-2);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color:rgb(var(--bs-dark-rgb));
    background-color: transparent;
    border-color: #dee2e6 #dee2e6 rgb(var(--bs-white-rgb));
    
}
.nav-link
{
  color: rgb(var(--bs-primary-rgb));
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: rgb(var(--bs-primary-rgb));
}
.nav-pills .nav-link {
    border-radius: var(--bs-border-radius-2);
}
.nav-tabs .nav-link {
    border: var(--bs-border-width) solid transparent;
    border-top-left-radius: var(--bs-border-radius-2);
    border-top-right-radius: var(--bs-border-radius-2);
}
.nav-tabs {
    border-bottom: var(--bs-border-width) solid #dee2e6;
}
/********************************************/
/**************** Navs Tabs ****************/
/********************************************/

/********************************************/
/**************** Pagination ****************/
/********************************************/
.page-item:first-child .page-link,.pagination-lg .page-item:first-child .page-link,.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: var(--bs-border-radius-2);
    border-bottom-left-radius: var(--bs-border-radius-2);
}

.page-item:last-child .page-link,.pagination-lg .page-item:last-child .page-link,.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: var(--bs-border-radius-2);
    border-bottom-right-radius: var(--bs-border-radius-2);
}
.page-link {
    color:var(--bs-dark);
    /*background-color: rgb(var(--bs-white-rgb));
    border: 1px solid rgba(var(--bs-secondary-2-rgba));*/
}
.page-item.disabled .page-link {
    /*color: rgb(var(--bs-white-rgb));
    background-color: rgba(var(--bs-secondary-2-rgba));
    border-color:rgba(var(--bs-secondary-2-rgba));
    opacity:0.9;*/
}
.page-link:hover,.page-link:focus {
    color:rgb(var(--bs-white-rgb));
    background-color: rgba(var(--bs-primary-2-rgba));
    border-color: rgb(var(--bs-primary-rgb));
}
.page-item.active .page-link {
    background-color: rgb(var(--bs-primary-rgb));
    border-color: rgba(var(--bs-primary-2-rgba));
}

/********************************************/
/**************** Pagination ****************/
/********************************************/

/********************************************/
/**************** Alerts ****************/
/********************************************/
.alert {
    border: var(--bs-border-width) solid transparent;
    border-radius: var(--bs-border-radius);
}
/********************************************/
/**************** Alerts ****************/
/********************************************/

/********************************************/
/**************** Progress ****************/
/********************************************/
.progress-bar {    
    background-color: rgb(var(--bs-primary-rgb));
}
/********************************************/
/**************** Progress ****************/
/********************************************/

/********************************************/
/**************** List groups ****************/
/********************************************/
.list-group {   
    border-radius: var(--bs-border-radius);
}
.list-group-item {
    /*color:var(--bs-dark); 
    background-color: rgb(var(--bs-secondary-rgb));
    border: 1px solid  rgba(var(--bs-secondary-2-rgba));*/
}
.list-group-item.active {
    color:rgb(var(--bs-white-rgb));
    background-color: rgb(var(--bs-primary-rgb));
    border-color: rgba(var(--bs-primary-2-rgba));
}
.list-group-item.disabled, .list-group-item:disabled {
    /*color:var(--bs-dark); 
    background-color: rgba(var(--bs-secondary-2-rgba));*/
}
.list-group-item-action:active,.list-group-item-action:hover, .list-group-item-action:focus {
    color:rgb(var(--bs-white-rgb));
    background-color: rgba(var(--bs-primary-2-rgba));
    border-color:rgb(var(--bs-primary-rgb)); 
}
/********************************************/
/**************** List groups ****************/
/********************************************/

/********************************************/
/**************** Cards ****************/
/********************************************/
.card {    
    background-color: rgb(var(--bs-body-bg-color-cards-rgba));
    border: var(--bs-border-width-cards) solid rgba(var(--bs-border-color-cards-rgba));
    border-radius: var(--bs-border-radius-cards);
  
  -webkit-box-shadow: var(--bs-shadow-cards-rgba);
  -moz-box-shadow: var(--bs-shadow-cards-rgba);
  box-shadow: var(--bs-shadow-cards-rgba);
}
.card-header {
    background-color: rgb(var(--bs-header-bg-color-cards-rgba));
    color:rgb(var(--bs-header-color-cards));
}
.card-header:first-child {
   border-radius: calc(var(--bs-border-radius-cards) - var(--bs-border-width-cards)) calc(var(--bs-border-radius-cards) - var(--bs-border-width-cards)) 0 0;
}
.card-footer:last-child {
   border-radius: 0 0 calc(var(--bs-border-radius-cards) - var(--bs-border-width-cards)) calc(var(--bs-border-radius-cards) - var(--bs-border-width-cards));
}
.card-img-top {
    border-top-left-radius: calc(var(--bs-border-radius-cards) - var(--bs-border-width-cards));
    border-top-right-radius: calc(var(--bs-border-radius-cards) - var(--bs-border-width-cards));
}
/********************************************/
/**************** Cards ****************/
/********************************************/

/********************************************/
/**************** Accordions ****************/
/********************************************/
.accordion-button {
    /*color:rgb(var(--bs-white-rgb));*/
    background-color: rgb(var(--bs-button-bg-accodions-rgba));
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(var(--bs-border-radius-accordions) - var(--bs-border-width-accordions));
    border-top-right-radius: calc(var(--bs-border-radius-accordions) - var(--bs-border-width-accordions));
}
.accordion-item {
    background-color: rgb(var(--bs-bg-accordions-rgba));
    border: var(--bs-border-width-accordions) solid rgba(var(--bs-border-color-accordions-rgba));
}
.accordion-item:first-of-type {
    border-top-left-radius: var(--bs-border-radius-accordions);
    border-top-right-radius:var(--bs-border-radius-accordions);
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(var(--bs-border-radius-accordions) - var(--bs-border-width-accordions));
  border-bottom-left-radius: calc(var(--bs-border-radius-accordions) - var(--bs-border-width-accordions));
}
.accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-border-radius-accordions);
    border-bottom-left-radius: var(--bs-border-radius-accordions);
}
.accordion-button:not(.collapsed) {
    color:rgb(var(--bs-white-rgb));
    background-color: rgb(var(--bs-primary-rgb));

}
/********************************************/
/**************** Accordions ****************/
/********************************************/

/********************************************/
/**************** Modals ****************/
/********************************************/
.modal-content {    
    background-color: rgb(var(--bs-modal-bg-rgba));  
    border:  var(--bs-modal-border-width) solid rgba(var(--bs-modal-border-color-rgba));
    border-radius: var(--bs-modal-border-radius);
}
.modal-header
{
  background-color: rgba(var(--bs-modal-header-bg-rgba));
  border-top-left-radius: calc(var(--bs-modal-border-radius) - var(--bs-modal-border-width));
  border-top-right-radius: calc(var(--bs-modal-border-radius) - var(--bs-modal-border-width));
}
/********************************************/
/**************** Modals ****************/
/********************************************/

/********************************************/
/**************** Toasts ****************/
/********************************************/
.toast {   
    background-color: rgba(var(--bs-toasts-bg-rgba));
    border: var(--bs-toasts-border-width) solid rgba(var(--bs-toasts-border-color-rgba));
    border-radius: var(--bs-toasts-border-radius);
    -webkit-box-shadow: var(--bs-toasts-shadow-rgba);
    -moz-box-shadow: var(--bs-toasts-shadow-rgba);
    box-shadow: var(--bs-toasts-shadow-rgba);
}
.toast-header {
    background-color: rgba(var(--bs-toasts-header-bg-rgba));    
    border-top-left-radius: calc(var(--bs-toasts-border-radius) - var(--bs-toasts-border-width));
    border-top-right-radius: calc(var(--bs-toasts-border-radius) - var(--bs-toasts-border-width));
}
.btn-close {
    color:rgb(var(--bs-white-rgb));
}
/********************************************/
/**************** Toasts ****************/
/********************************************/



/**************************************************/
/****************** CAMBISTA.NET ******************/
/**************************************************/
body::after{
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}
textarea:focus, input:focus{
    outline: none;
}
.cardCotizador
{
    border-radius: 20px !important;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
}

.text-gradient-primary
{
    /* Gradient Primary */
    background: linear-gradient(313.23deg, #23C99D 2.91%, #16A3FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.customItemDiferencia
{
    max-width: 300px;
    margin: auto;
}
.cardFormRegister
{
    max-width: 428px;
    border-radius: 20px !important;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
    margin: auto;
}
.arrowForm
{
    position: absolute;
    top: -50px;
    right: -60px;
    pointer-events: none;
}
.customCardReferido
{
    height: 100%;
    position: relative;
}
.customCardReferido>div
{
    width: 100%;
    height: 33.3%;
    color: white;
}
.customCardReferido>div:nth-child(2) {
    background: #244CBE;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}
@media (max-width:991px) {
    .customCardReferido>div
    {
        height: auto;
    }
    .arrowForm
    {
        display: none;
    }
}

/**************************************************/
/****************** CAMBISTA.NET ******************/
/**************************************************/